@import '../../../styles/colors';

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $DARK_MODEㅡGRAY;
  color: $BRIGHT_PURPLE;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  padding: 0 10px;
  margin-bottom: 20px;

  span {
    background-color: inherit;
  }
}
