.postContainer {
  width: 100%;
  height: 100%;

  background-color: #f0f1f3;
  display: flex;
  flex-direction: column;

  align-content: center;
  padding: 0 20px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 20px;
  }
  .listBox {
    min-height: 720px;
  }
}

.lengthBox {
  width: 90%;
  padding-bottom: 5px;
  margin: 20px auto 15px auto;
  box-shadow: inset 0px -1px 0px #e1e2e4;

  p {
    line-height: 18px;
    color: #151618;
    font-size: 14px;
  }
}
