.MainLayout {
  display: flex;
  flex-direction: column;
  .imageSlider {
    height: 500px;
  }

  .noticeBoard {
    height: 200px;
    // background-color: aquamarine;
  }

  .reservation {
    height: 200px;
  }

  .freeBoard {
    // background-color: violet;
    height: 200px;
  }
}
