.MainLayout {
  display: flex;
  flex-direction: column;
  .imageSlider {
    height: 500px;
  }

  .noticeBoard {
    padding: 40px 0px;
  }

  .reservation {
    height: 200px;
  }

  .freeBoard {
    padding: 40px 0px;
  }
  overflow: hidden;
}

.boardButton {
  margin-left: 20px;
  margin-right: 20px;
}
