.postDetail {
  .title {
    p {
      margin: 30px 10px 20px 30px;
      font-size: 23px;
    }
  }

  .postInfo {
    p {
      margin-left: 30px;
      color: #cac4d0;
    }
  }

  .description {
    p {
      margin: 90px 27px 20px 30px;
      font-size: 20px;
    }
  }

  .underLine {
    width: 100%;
    padding-bottom: 5px;
    margin: 20px auto 0 auto;
    box-shadow: inset 0px -1px 0px #e1e2e4;

    p {
      margin: 100px 0 15px 20px;
    }
  }

  .updateAndDeleteBtn {
    display: flex;
    justify-content: flex-end;
    margin: 200px 15px 0 0;
    text-align: center;

    .updateBtn {
      width: 45px;
      height: 30px;
      background-color: #682be0;
      border: 2px solid #aa8dff;
      font-size: 15px;
      color: white;
      border-radius: 4px;
      margin-right: 15px;
    }

    .deleteBtn {
      margin-right: 20px;
      width: 45px;
      height: 30px;
      background-color: #682be0;
      border: 2px solid #aa8dff;
      font-size: 15px;
      color: white;
      border-radius: 4px;
    }
  }
}

.comments {
  .perComment {
    display: flex;
    position: relative; // position 속성 추가
    margin: 20px;
    box-shadow: inset 0px -1px 0px #e1e2e4;
    padding-bottom: 10px;

    .commentSet {
      position: relative; // position 속성 추가
      display: flex;
      flex-direction: column;
    }

    .updateBtnPosition {
      width: 580px;
      .commentUpdateBtn {
        padding-left: 100px;
        position: absolute; // position 속성 추가
        right: 0; // right 속성 추가
        top: 0; // top 속성 추가

        button {
          width: 33px;
          height: 30px;
          background-color: #682be0;
          font-size: 13px;
          color: white;
          border-radius: 5px;
        }

        .commentDeleteBtn {
          margin-left: 10px;
        }
      }
    }
  }

  .commentInfo {
    p {
      font-size: 20px;
    }
  }

  .commentContent {
    p {
      margin-top: 5px;
      font-size: 18px;
      color: inherit;
    }

    input {
      margin-top: 20px;
      width: 60%;
      height: 50px;
      border: 1px solid #c3c6cc;
    }
  }

  .createdAt {
    p {
      margin-top: 10px;
      font-size: 13px;
      color: #b4b0b0;
    }
  }
}

.imgPosition {
  margin-top: 100px;
  img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.commentProfileImage {
  width: 50px; // 원하는 이미지의 크기로 조절하세요.
  height: 50px; // 원하는 이미지의 크기로 조절하세요.
  border-radius: 50%;
  margin-right: 10px; // 필요한 경우 마진을 추가하세요.
}

.addComments {
  display: flex;
  margin: 50px 5px 50px 40px;

  .inputAndBtn {
    width: 80%;
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      height: 65px;
      border: 1px solid #c3c6cc;
      border-radius: 3px;
      &::placeholder {
        color: #c3c6cc;
      }
    }

    .addCommentBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-top: 10px;
      width: 45px;
      height: 30px;
      background-color: #682be0;

      font-size: 15px;
      color: white;
      border-radius: 4px;
    }
  }
}
