.updateBtn {
  height: 60px;
  margin: 25px auto 0 auto;
  padding: 0 40px 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: #e2e1ff;

  svg {
    width: 30px;
    height: 30px;
  }

  p {
    font-size: 20px;
  }
}

.titleChange {
  width: 100%;
  border: 1px solid white;
  box-shadow: inset 0px -1px 0px #e1e2e4;
  padding: 15px 0 100px 15px;
  font-size: 20px;
}

.descriptionChange {
  width: 100%;
  border: 1px solid white;
  padding: 15px 0 200px 15px;
  font-size: 20px;
}

.uploadIcon {
  padding-top: 15px;
  padding-left: 30px;
  svg {
    width: 30px;
    height: 30px;
    stroke: black;
  }
}
