.postDetail {
  .title {
    p {
        margin: 30px 10px 20px 30px;
        font-size: 30px;
    }
}

  .postInfo {
    p {
      margin-left: 30px;
      color: #CAC4D0;
    }
  }

  .description {
    p {
      margin: 90px 27px 20px 20px;
      font-size: 20px;
    }
  }

  .underLine {
    width: 100%;
    padding-bottom: 5px;
    margin: 20px auto 0 auto;
    box-shadow: inset 0px -1px 0px #E1E2E4;
    
    p {
      margin: 100px 0 15px 20px;
    }
  }

  .updateAndDeleteBtn {
    display: flex;
    justify-content: flex-end;
    margin: 200px 15px 0 0;
    text-align: center;

    .updateBtn {
        width: 45px;
        height: 30px;
        background-color: #682BE0;
        font-size: 15px;
        color: white;
        border-radius: 4px;
        margin-right: 15px;
    }

    .deleteBtn {
        margin-right: 20px;
        width: 45px;
        height: 30px;
        background-color: #682BE0;
        font-size: 15px;
        color: white;
        border-radius: 4px;
    }
  }
}

.perComment {
  display: flex;
}

.comments {
  .perComment {
    margin: 20px;
    border: 1px solid white;
    box-shadow: inset 0px -1px 0px #E1E2E4;
    padding-bottom: 10px;
    
    .commentSet {
      display: flex;
      flex-direction: column;
    }
  }

  .commentInfo {
    p {
      font-size: 20px;
    }
  }

  .commentContent {
    p {
      margin-top: 5px;
      font-size: 18px;
      color: #868181;
    }
  }

  .createdAt {
    p {
      margin-top: 10px;
      font-size: 13px;
      color: #b4b0b0;
    }
  }
}

.imgPosition {
  margin-top: 100px;
  img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.commentProfileImage {
  width: 50px;  // 원하는 이미지의 크기로 조절하세요.
  height: 50px; // 원하는 이미지의 크기로 조절하세요.
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 10px; // 필요한 경우 마진을 추가하세요.
}

.addComments {
  display: flex;
  margin: 50px 5px 50px 40px;

  .inputAndBtn {
    width: 80%;
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      height: 65px;
      border: 1px solid #c3c6cc;
      border-radius: 3px;
      &::placeholder {
        color: #c3c6cc;
      }
    }

    .addCommentBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-top: 10px;
      width: 45px;
      height: 30px;
      background-color: #682BE0;
      font-size: 15px;
      color: white;
      border-radius: 4px;
      
    }
  }
}