.updateBtn {
  height: 60px;
  margin: 25px auto 0 auto;
  padding: 0 40px 0 15px;
  display: flex;
  justify-content: space-between;
  background-color: #682BE030;
  
  p {
    font-size: 20px;
  }

}

.titleChange {
  width: 100%;
  border: 1px solid white;
  box-shadow: inset 0px -1px 0px #E1E2E4;
  padding: 15px 0 100px 15px;
  font-size: 20px;
}

.descriptionChange {
  width: 100%;
  border: 1px solid white;
  padding: 15px 0 200px 15px;
  font-size: 20px;
}

.uploadIcon {
  padding-top: 15px;
  padding-left: 30px;
}
