.postList {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;

  .eachPost {
    display: flex;
    width: 93%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 4px;

    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px lightgray;

    p {
      overflow: hidden;
    }
    .postInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 12px;
      color: #999999;
      margin-bottom: 5px;
      .nameAndDate {
        display: flex;
        flex-direction: row;

        .name {
          margin-right: 5px;
        }
      }
      .viewsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          stroke: #999999;
        }
      }
    }
    .title {
      color: black;
    }
  }
}
