@import '../../styles/colors';
@import '../../styles/mixins';

@include mobile {
  .KakaoShareText {
    text-align: center;

    svg {
      margin-right: 0;
    }
    p {
      display: none;
    }
  }
}

.kakaoButton {
  width: 100%;
  height: 55px;
  padding: 5px 40px 5px 40px;
  background-color: $MAIN_PURPLE;

  border-radius: 15px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

  .KakaoShareText {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    p {
      margin-left: 30px;
    }
  }

  &:hover {
    background-color: #f7f3ff;
    border: solid 2px $MAIN_PURPLE;

    transition: all 0.3s ease-in-out;

    .KakaoShareText {
      color: $MAIN_PURPLE;
      svg {
        stroke: $MAIN_PURPLE;
        & > path {
          fill: $MAIN_PURPLE;
        }
      }
    }
  }
}
