@import 'styles/colors';

.mainImage {
  background-color: red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .mainVideo {
  }
  .title {
    position: absolute;
    color: $MAIN_PURPLE;
    font-size: 5vh;
    z-index: 1;
    text-shadow: 0px 0px 20px $BRIGHT_GRAY;
  }
}
