/*반응형 화면 크기 변수*/
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-tablet-desktop: 891px;
$breakpoint-desktop: 1024px;
$breakpoint-mid-desktop: 1412px;
$breakpoint-full-desktop: 1800px;
$breakpoint-big-desktop: 2400px;

/* 모바일 */
@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

/* 태블릿 */
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-tablet-desktop - 1px}) {
    @content;
  }
}

/* 조금 큰 태블릿 */
@mixin bigTablet {
  @media (min-width: #{$breakpoint-tablet-desktop}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

/* 조금 작은 데스크탑 */
@mixin middleDesktop {
  @media (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-mid-desktop - 1px}) {
    @content;
  }
}

/* 데스크탑 */
@mixin desktop {
  @media (min-width: #{$breakpoint-mid-desktop}) and (max-width: #{$breakpoint-full-desktop - 1px}) {
    @content;
  }
}

/* 리얼 큰 데스크탑 */
@mixin bigDesktop {
  @media (min-width: #{$breakpoint-full-desktop}) and (max-width:#{$breakpoint-big-desktop - 1px} ) {
    @content;
  }
}
