// Global styles
@import './reset';
@import './colors';
@import './mixins';

.AppContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33);
}

.App {
  max-width: 720px;
  min-width: 335px;
  min-height: 100vh;
  background-color: $DARK_MODEㅡBACKGROUND;
  color: white;
  margin: auto;
  box-sizing: border-box;
  * {
    max-width: 100%;
    word-wrap: break-word;
  }
  *:not(button, div, svg, p, input, img, a, span, section) {
    background-color: $DARK_MODEㅡBACKGROUND;
    color: white;
  }

  input,
  textarea {
    background-color: $DARK_MODEㅡBRIGHT_GRAY;
    color: black;

    &::placeholder {
      color: $DARK_MODEㅡGRAY;
    }
  }

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
