// Global styles
@import './reset';
@import './colors';
@import './mixins';

.App {
  max-width: 720px;
  min-width: 335px;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  * {
    max-width: 100%;
    word-wrap: break-word;
  }
}
