@import '../../../styles/colors';

header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 2px 11px 15px -6px rgba(23, 23, 23, 0.5);
  -webkit-box-shadow: 2px 11px 15px -6px rgba(23, 23, 23, 0.5);
  -moz-box-shadow: 2px 11px 15px -6px rgba(23, 23, 23, 0.5);
}

.LayoutNav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  img {
    height: 30px;
    cursor: pointer;
  }
}

.SlideMenu {
  position: absolute;
  height: 100%;
  width: 300px;
  right: 0px;
  top: 0px;
  background-color: #ffffff;
}
