.overlay {
  position: fixed;
  top: 0;
  width: 720px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.container {
  background-color: #fff;
  width: 100%; //980px;
  height: 100%; //580px;\
  box-shadow: 0rem 0rem 0.7rem #00000029;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0rem 0rem 0.7rem #00000029;
    .headerTitle {
      width: 100%;
      align-items: center;
      text-align: center;
      font-size: 18px;
    }
    .goback {
      cursor: pointer;
    }
  }
  .body {
    width: 100%;
    height: 100%;
  }
}
