@import '/src/styles/colors';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalContainer {
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  height: 200px;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 0.7rem;

  z-index: 1000;
  box-shadow: 0rem 0rem 0.7rem rgba(0, 0, 0, 0.3);
}

.modalTop {
  width: 100%;
  height: 40px;
  background-color: $MAIN_PURPLE;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: center;
  align-items: center;

  .modalTitle {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
}

.overlay > .modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // justify-content: space-around;
  align-items: center;
  // align-content: space-evenly;
  padding: 30px 0;
  color: black;
  font-size: 1.3rem;

  p:nth-child(2) {
    padding: 10px 0;
  }

  button {
    color: black;
    background-color: $BRIGHT_PURPLE;
    border: 2px solid $MAIN_PURPLE;

    border-radius: 0.5rem;
    box-sizing: border-box;

    width: 20%;
    height: 35px;
    font-size: 1.3rem;
    transition: all 0.5s;

    &:hover {
      background-color: $MAIN_PURPLE;
      color: white;
    }
    + button {
      margin-left: 30px;
    }
  }
}
