.dateContainer {
  margin: 10px 0;

  .currentDate {
    margin-top: 1rem;
    font-size: 27px;
  }
}
.date {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  time {
    font-size: 22px;
  }
}

.checkbox {
  display: flex;
  padding: 0.5rem 1.4rem 1.5rem 1.4rem;
  flex-direction: row;
  justify-content: space-between;

  .checkboxInput {
    display: none;
  }

  .checkboxLabel {
    height: 30px;
    width: 30px;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    cursor: pointer;
  }

  input:checked + .checkboxLabel {
    background-color: #524fa1;
    border: 2px solid #524fa1;
  }
}

.typeSelector {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: bold;

  label {
    background-color: #f0f1f3;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    height: 40px;
    color: #9c9c9c;
    flex: 1 1 auto;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0.9rem;
  }

  label.checkedType {
    background-color: #524fa1;
    border: 2px solid #524fa1;
    color: #e2e1ff;
  }

  input[type='radio'] {
    display: none;
  }
}

.TimeSelector {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: bold;

  & > * {
    background-color: #f0f1f3;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    height: 40px;
    color: #9c9c9c;
    flex: 1 1 auto;
    font: inherit;
    cursor: pointer;
  }

  & > *:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0.7rem;
  }

  .checkedType {
    background-color: #e2e1ff;
    border: 2px solid #524fa1;
    color: #524fa1;
  }
}

.meetingRoomTimeSelector > .typeSelector > .checkedType {
  background-color: #e2e1ff;
  border: 2px solid #524fa1;
  color: #524fa1;
}
