@import '/src/styles/colors';

.container {
  padding: 0 20px;
  margin-bottom: 90px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.currentDate {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.checkbox {
  display: flex;
  padding: 1rem;
  flex-direction: row-reverse;
  justify-content: space-between;

  & > input {
    display: none;
  }

  & > .checkboxLabel {
    height: 30px;
    width: 30px;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    cursor: pointer;
  }

  & > input:checked + .checkboxLabel {
    background-color: #524fa1;
    border: 2px solid #524fa1;
  }
}

.typeContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    background-color: #f0f1f3;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    height: 40px;
    color: #9c9c9c;
    flex: 1 1 auto;
    font: inherit;
    cursor: pointer;
  }
  & > *:not(:last-child) {
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
  }
  &:first-child > .checkedType {
    background-color: #e2e1ff;
    border: 2px solid #524fa1;
    color: #524fa1;
  }

  & > .checkedType {
    background-color: #524fa1;
    border: 2px solid #524fa1;
    color: #e2e1ff;
  }
}

.seatKindContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.seatKindContainer > div {
  display: flex;
  align-items: center;

  &:first-child .box {
    height: 20px;
    width: 20px;
    background-color: #b3b3b3;
  }

  &:nth-child(2) .box {
    height: 20px;
    width: 20px;
    background-color: #682be0;
  }

  &:nth-child(3) .box {
    height: 20px;
    width: 20px;
    background-color: #f6c1ff;
  }

  &:nth-child(4) .box {
    height: 20px;
    width: 20px;
    background-color: #bfb5ff;
  }

  & .kindText {
    margin-left: 0.8rem;
  }
}

.seatContainer {
  border: 3px solid #7573b9;
  border-radius: 10px;
  background-color: #f7f3ff;

  & > div {
    width: 90%;
    margin-left: auto;
    margin-top: 5%;
    border: 1px solid #7573b9;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
  }

  & > div:last-child {
    margin-bottom: 5%;
  }
}

.seatContainer > .possible > .visible {
  background-color: #f6c1ff;
  cursor: pointer;
}

.impossible > .visible {
  background-color: #b3b3b3;
}

.group.possible :last-child.visible,
.group.possible :nth-last-child(2).visible,
.graduate.possible :last-child.visible {
  background-color: #bfb5ff;
}

.visitor {
  margin: 1rem 0;
}

.visitorInput {
  height: 40px;
  width: 90%;
  margin-bottom: 60%;
}

.submitButton {
  background-color: $MAIN_PURPLE;
  bottom: 0;
  height: 70px;
  font-size: 30px;
  letter-spacing: 8px;
  color: white;
  position: fixed;
  width: 720px;
  text-align: center;
  padding-top: 10px;
}

.visible,
.invisible {
  height: 50px;
  width: calc(1 / 6 * 100%);
  border: 2px solid #7573b9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  height: 100px;
}

.groupSeat {
  height: 100px;
  width: calc(1 / 5 * 100%);
  // background-color: #f6c1ff;

  &:nth-last-child(2),
  &:last-child {
    height: 50px;
    // background-color: rgb(255, 250, 193);
  }

  &:last-child {
    position: relative;
    transform: translateY(-50px);
    height: 50px;
  }
}
