@import '/src/styles/colors';

.container > * {
  margin: 0 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.currentDate {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.checkbox {
  display: flex;
  padding: 1rem;
  flex-direction: row-reverse;
  justify-content: space-between;

  & > input {
    display: none;
  }

  & > .checkboxLabel {
    height: 30px;
    width: 30px;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    cursor: pointer;
  }

  & > input:checked + .checkboxLabel {
    background-color: #524fa1;
    border: 2px solid #524fa1;
  }
}

.typeContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    background-color: #f0f1f3;
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    height: 40px;
    color: #9c9c9c;
    flex: 1 1 auto;
    font: inherit;
    cursor: pointer;
  }
  & > *:not(:last-child) {
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
  }
  &:first-child > .checkedType {
    background-color: #e2e1ff;
    border: 2px solid #524fa1;
    color: #524fa1;
  }

  & > .checkedType {
    background-color: #524fa1;
    border: 2px solid #524fa1;
    color: #e2e1ff;
  }
}

.seatKindContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.seatKindContainer > div {
  display: flex;
  align-items: center;

  &:first-child .box {
    height: 20px;
    width: 20px;
    background-color: #b3b3b3;
  }

  &:nth-child(2) .box {
    height: 20px;
    width: 20px;
    background-color: #682be0;
  }

  &:nth-child(3) .box {
    height: 20px;
    width: 20px;
    background-color: #f6c1ff;
  }

  &:nth-child(4) .box {
    height: 20px;
    width: 20px;
    background-color: #bfb5ff;
  }

  & .kindText {
    margin-left: 0.8rem;
  }
}

.visitor {
  margin: 1rem 0;
}

input {
  height: 40px;
  width: 90%;
  margin-bottom: 60%;
}

.submitButton {
  background-color: $MAIN_PURPLE;
  position: sticky;
  bottom: 0;
  height: 60px;
  font-size: 30px;
  letter-spacing: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
