@import '/src/styles/colors';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 999;
}

.modalContainer {
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);

  color: black;
  background-color: white;
  border-radius: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: start;

  z-index: 1000;
  box-shadow: 0rem 0rem 0.7rem rgba(0, 0, 0, 0.3);

  .X {
    border-radius: 0.7rem 0.7rem 0 0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 360px;

    padding-right: 5px;
    cursor: pointer;

    svg {
      height: 20px;
      stroke: $MAIN_PURPLE;
      & > path {
        fill: $MAIN_PURPLE;
      }
    }
  }

  div:nth-child(2) {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 3px;
    font-size: 20px;
  }

  div:nth-child(3) {
    text-align: center;
    font-size: 20px;
    margin-bottom: 3px;
  }

  div:nth-child(4) {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
  }

  div:nth-child(5) {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
  }

  .checkReservationButton {
    margin: 10px auto 10px auto;
    width: 310px;
    height: 55px;
    padding: 5px 40px 5px 40px;
    background-color: #bfb5ff;
    color: white;
    font-size: 20px;
    cursor: pointer;

    border: solid 2px $MAIN_PURPLE;
    border-radius: 15px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    transition: all 0.5s;
  }

  .checkReservationButton:hover {
    background-color: $MAIN_PURPLE;
    border: solid 2px #bfb5ff;
    color: #bfb5ff;

    transition: all 0.3s ease-in-out;
  }

  .KakaoShareButton {
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    cursor: pointer;
  }
}
