.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5px;
}

button {
  font-size: 20px;
  margin: 16px 8px 20px 8px;
}

.pagination-list {
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  cursor: pointer;
  // margin: 0 0.25rem;
  margin: 5px 0 10px 0;
  padding: 0.25rem 0.5rem;
  font-family: 'NotoSansKR';
  font-size: 14px;
  background-color: transparent;
  border-radius: 5px;
  min-width: 22px;
  height: 22px;

  &.active {
    background-color: #524FA0;
    color: #F9FAFC;
  }
}