@import '/src/styles/colors';

.seatLayoutContainer {
  border: 2px solid #7573b9;
  border-radius: 7px;
  background-color: #f7f3ff;
  height: 820px;
  min-width: 450px;
  max-width: 450px;
  margin: 20px 0;
  display: flex;
  flex-direction: row-reverse;
  font-size: 13px;

  .entrance {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    margin-top: 0;
    height: 70px;
    width: 30px;
    position: relative;
    transform: translateX(-2px) translateY(-418px);
    border: none;
    font-size: 13px;
    background-color: #f7f3ff;
  }

  .managerZone {
    width: 450px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-144px);
    border-top: 2px solid #7573b9;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.seatLayoutContainer > div > div:not(.entrance):not(.managerZone) {
  border: 1px solid #7573b9;
  width: 400px;
  margin-left: auto;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  transform: translateX(1px);
  background-color: white;
}

.seatLayoutContainer > div > div:nth-last-child(3) {
  margin-bottom: 100px;
}

.seatLayoutContainer > div > div > div {
  border: 1px solid #7573b9;
  height: 20px;
  width: calc(1 / 6 * 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.seatLayoutContainer > div > .group {
  & > div {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > div:first-child {
    width: calc(4 / 5 * 100%);
  }

  & > div:last-child {
    width: calc(1 / 5 * 100%);
  }
}

.seatLayoutContainer > div > div .myReservation {
  background-color: $MAIN_PURPLE;
}

.meetingRoomContainer {
  border: 2px solid #7573b9;
  border-radius: 7px;
  background-color: #f7f3ff;
  height: 400px;
  min-width: 450px;
  max-width: 450px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;

  & > div:first-child,
  & > div:nth-child(2) {
    border: 1px solid #7573b9;
    background-color: white;
    width: 50%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > div:nth-child(3) {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > div:nth-child(4) {
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateX(212px) translateY(-230px);
    background-color: #f7f3ff;
    writing-mode: vertical-lr;
  }

  & > div.myReservation {
    background-color: $MAIN_PURPLE;
    color: white;
  }
}
