.chatModalContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nowDate {
  font-size: 10px;
  text-align: center;
  color: #999999;
}
.scrollContainer {
  overflow: auto;
  flex-grow: 1;
  padding: 20px;
}
.chatListContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}

.chatInputContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 0 0 10px 0;
  background-color: transparent;
}
