.optionDiv {
  margin-bottom: 20px;
}

.selectDiv {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 40%;
  height: 100%;
  border: 2px solid #7573b9;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.select:focus {
  border: 1px solid #682be0;
  border-radius: 10px;
  outline: 3px solid #faf4ff;
  border-radius: 10px;
}

.input {
  width: 59%;
  height: 100%;
  border: 2px solid #7573b9;
  border-radius: 10px;
  padding: 10px;
}

.input:focus {
  border: 1px solid #682be0;
  border-radius: 10px;
  outline: 3px solid #faf4ff;
  border-radius: 10px;
}
