.notice {
  margin-top: 20px;
  padding: 0 20px;
}

.btnDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.addBtn {
  color: white;
  padding: 5px 10px;
  background: #682be0;
  border-radius: 5px;
}

.hr {
  background: #7573b9;
  height: 2px;
  border: 0;
}
