@import 'styles/colors';
.footerLayout {
  bottom: 0px;
  height: 14em;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0px;
  color: #757575;
  width: 100%;
  font-size: 0.8rem;
  box-shadow: 0rem 0rem 0.7rem #00000029;
  padding: 20px 10px 10px 10px;
  p {
    padding: 10px;
  }
  div {
    padding: 0px 10px;
  }
}
