.chatListModalWrapper {
  padding: 30px 20px;

  .headerContainer {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #faf4ff;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0 10px;
    margin-bottom: 20px;

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background-color: #682be0;
      margin-right: 10px;
    }
  }

  .chatList {
    overflow-y: scroll;
  }
}
